$color-black: #332e2e;
$color-blue-dark: #2d728f;
$color-blue-light: #3b8ea5;
$color-blue-vibrant: #499fb7;
$color-yellow-light: #f5ee9e;
$color-orange-light: #f49e4c;
$color-orange-dark: #c75a22;
$color-red-dark: #ab3428;
$color-grey-light: #6c6c6c;
$color-white: #ffffff;

$colors: (
  "black": $color-black,
  "blue-dark": $color-blue-dark,
  "blue-light": $color-blue-light,
  "blue-vibrant": $color-blue-vibrant,
  "yellow-light": $color-yellow-light,
  "orange-light": $color-orange-light,
  "orange-dark": $color-orange-dark,
  "red-dark": $color-red-dark,
  "grey-light": $color-grey-light,
  "white": $color-white,
);
